<template name="campaign">
  <h2>Campaign</h2>
  
  <section white>
    <h3 class="center">Create an example project with Minima; get $5</h3>
    <div class="flex t-list align-center gutter">
      <div class="col text-center t-hidden">
        <img src="./www/assets/minima.png" height="150px">
      </div>
      <h6 class="col">
        Simply create a project using Minima, and submit it for a chance to win $5. Payments will be sent using CashApp. Check out the steps below:
      </h6>
    </div>
    <div class="flex align-center gutter">
      <ol class="col gutter">
        <li><b>Create an example project using Minima</b></li>
        <li><b>Take screenshots of destop, tablet, and mobile views</b></li>
        <li><b>Send screenshots to brayanbyrdsong@gmail.com with the subject:
          <br><b class="center">Minima Contest - <i> [CashApp $username]</i></b>
        </b></li>
      </ol>
      <div class="col text-center m-hidden gutter">
        <img class="t-hidden gutter" src="./www/assets/todo-d.png" height="150px" onclick="activate(event)">
        <img class="gutter" src="./www/assets/todo-m.png" height="150px" onclick="activate(event)">
      </div>
    </div>
    <p>
        <b>Accepted participants will have there screenshots in the gallery on the examples page. If you are accepted, you will be sent $5 via CashApp from $BrayanByrdsong. If you don't have CashApp, you can sign-up and recieve $5 free with <a href="https://cash.me/app/KDLQLKT" target="_blank">this link</a>. Only 10 participants will be accepted.</b>
    </p>
    <div class="right">
      <b><a href="#/docs">Get Started</a></b>
    </div>
  </section>
</template>