<template name="examples">
  <h2>Examples</h2>    

  <section white>
    <h3>Minima Todos</h3>
    <div class="flex m-list">
      <img src="./www/assets/todos.png" class="todo-img m-col"  onclick="Minima.activate(event)">
      <div class="center list col d-gutter">
        <b class="text-center">The classic todos, showing off some Minima.</b>
        <div class="center">
            <a class="gutter" href="https://todo-minima--blbbrayan.repl.co/?" target="_blank">Website</a>
            <a class="gutter" href="https://repl.it/@blbbrayan/todo-minima" target="_blank">Source</a>
        </div>
      </div>
    </div>

    <hr>

    <h6>Gallery</h6>
    <h4>Zombie Town Minima</h4>
    <div class="gallery t-hidden">
      <img src="./www/assets/zombie-town.PNG" onclick="Minima.activate(event)">
      <img src="./www/assets/zombie-town-m.PNG" onclick="Minima.activate(event)">
    </div>
    <div class="gallery d-hidden t-flex wrapped">
      <img src="./www/assets/zombie-town.PNG" onclick="Minima.activate(event)">
      <img src="./www/assets/zombie-town-m.PNG" onclick="Minima.activate(event)">
    </div>
  </section>
</template>