<template name="docs-aside">
  <section class="aside-left list text-center t-tab-select">
    <a href="#/documentation">Setup</a>
    <a href="#/elements">Elements</a>
    <a href="#/components">Components</a>
    <a href="#/layout">Layout</a>
  </section>
</template>

<template name="nav">
  <nav class="fixed">
    <div class="space-between">
      <a class="brand" href="#/home">
        <img src="./www/assets/minima-logo.png" height="50px">
      </a>
      <div class="mobile d-tab-select">
        <a href="#/home">Home</a>
        <a href="#/documentation">Documentation</a>
        <a href="#/examples">Examples</a>
        <a href="#/campaign">Campaign</a>
        <a href="#/support">Support</a>
      </div>
    </div>
  </nav>
</template>
